/*Stylesheet by Emily Pettit, 2018*/
.map {
  border: medium solid #999;
  margin: 10px 0 0 20px;
}

.states {
  stroke: #000;
  stroke-width: 0.5px;
  stroke-linecap: round;
}

body {
  background-color: #002766;
}

#header {
  position: relative;
  display: inline-block;
  margin: auto;
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
}

img {
  height: 70px;
  width: 70px;
  bottom: -20px;
  position: relative;
}

h1 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  color: #E6550D;
  font-size: 3em;
  text-align: center;
  margin: auto;
  display: inline-block;
  position: relative;
}

.text {
  color: white;
  font-size: 16px;
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
  display: inline-block;
  width: 65%;
}

#footer {
    position: fixed;
    left: 5px;
    bottom: 2px;
    width: 100%;
    color: white;
    font-size: 10px;
    line-height: 0.5;
    font-family: 'Source Sans Pro', sans-serif;
    display: inline-block;
}

#moreInfo {
  position: fixed;
  display: inline-block;
  right: 5px;
  bottom: 15px;
  width: 100%
  color: white;
  font-size: 16px;
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  z-index: 2;
}

a:link {
    color: #42c5f4;
    background-color: transparent;
    text-decoration: underline;
    font-family: 'Source Sans Pro', sans-serif;
}

a:visited {
    color: grey;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: orange;
    background-color: transparent;
}

.dropdown {
  position: absolute;
  right: 30px;
  top: 225px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1em;
  font-weight: bold;
  padding: 1px;
  border: 1 px solid #999;
  box-shadow: 2px 2px 4px #999;
}

.numbers {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 0.5em;
}

.chart {
  float: right;
  margin: 10px 20px 0 0;
}

.chartTitle {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1em;
  font-weight: bold;
  fill: white;
}

.chartFrame {
    fill: none;
    stroke: white;
    stroke-width: 2px;
    shape-rendering: crispEdges;
}

.axis path, .axis line {
    fill: none;
    stroke: white;
    stroke-width: 1px;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 0.8em;
    fill: white;
}

.infolabel {
    position: absolute;
    height: 40px;
    min-width: 90px;
    color: white;
    background-color: rgba(0, 0, 0, 0.8);
    border: solid thin #fff;
    padding: 5px 10px;
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 1em;
    z-index: 50;
}

.infolabel h1 {
    margin: 0 20px 0 0;
    color: #E6550D;
    padding: 0;
    display: inline-block;
    line-height: 1em;
    z-index: 50;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.5em;
}
